---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Download from '../components/Download.astro';
---

<Layout title="Netmon">
	<Header />
	<main>
		<section id="inicio">
			<Hero />
		</section>
		<section id="about">
			<About />
		</section>
		<section id="download">
			<Download />
		</section>
	</main>
</Layout>
