<div class="fixed top-0 left-0 right-0 z-50 flex justify-center items-center gap-5 py-5 backdrop-blur-md bg-black/20">
    <button class="px-3 py-2 text-white cursor-pointer hover:text-zinc-400 transition-all duration-300 hover:-translate-y-0.5 font-light tracking-wide">Inicio</button>
    <button class="px-3 py-2 text-white cursor-pointer hover:text-zinc-400 transition-all duration-300 hover:-translate-y-0.5 font-light tracking-wide">About</button>
    <button class="px-3 py-2 text-white cursor-pointer hover:text-zinc-400 transition-all duration-300 hover:-translate-y-0.5 font-light tracking-wide">Documentación</button>
</div>
